<h1 class="text-center" style="font-family: Tahoma, Geneva, sans-serif;">Bienvenue sur Courgette Land</h1> <br />

<div class="text-center">
<h5> Voici la liste des clubbeurs courgetteux </h5>
<p>
		<% @users.each do |user| %>
		<p>First Name: <%= user.first_name %> </p>
		<p>Last Name: <%= user.last_name %> </p>
		<p>Email: <%= user.email %> </p>
		 ------------------------------- 
		<%end%>
</p>
</div>